/*1 variable */

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$padding: 2%;
$spanColor:green;
$radius: 36px;

@mixin border-radius($radius: 20px){
  border: 1px solid;
  border-radius: $radius;
}

body {
  font: $font-stack;
  color: $primary-color;
  padding:$padding;

}
span{color:$spanColor;}

.check{
   @include border-radius(55px);
}
